
.textView {
    margin-left:320px;
    margin-right:80px;
    margin-top:120px;
    margin-bottom:10px;
    width:238px;
    height:60px;  
    font-size: 20px;
    border:2px solid red;
    border-radius:20%;

}

.press {
    margin-left: 6px;
    height: 50px;
    width: 50px;
    border:2px solid brown;
    border-radius: 50%;
    background-color:#F8EFBA;
    color:black;
    font-size: 18px;
    transition:width 2s;
}

.press.hover {
    width:70px;
}

.firstRow , .secondRow , .thirdRow ,.fourthRow {
    margin-top:10px;
    margin-left:320px;
}

