body {
    background-color:#ff793f;
   
}
.container {
	align-content:center; 
	margin-left:320px;
	margin-bottom:50px;
	border:5px;
	background-color:black; 
	width:282px;
	height:390px; 
	border-radius:20px;
}


h1 {
    text-align: center;
    font-size: 65px;
    color:black;
    padding: 0px;
    margin-right:100px;

}


.textView {
    margin-left:20px;
    margin-right:80px;
    margin-top:40px;
    margin-bottom:10px;
    width:238px;
    height:60px;  
    font-size: 20px;
    border:2px solid red;
    border-radius:20%;


}

.press {
    margin-left: 6px;
    margin-bottom:5px;
    height: 50px;
    width: 50px;
    border:2px solid brown;
    border-radius: 50%;
    background-color:#F8EFBA;
    color:black;
    font-size: 18px;
    transition:background-color,color 1s;

}

.press:hover {
    background-color:yellow;
    color:red;
    
}

.firstRow , .secondRow , .thirdRow ,.fourthRow {
    margin-top:10px;
    margin-left:20px;
}

